.my-Icon{
    display: inline-block;
    position: relative;
    width:32px;
    height: 32px;
    border: 1px solid #eee;
    background-color: #eee;
}

/** 右矢印 */
.my-Icon .my-Icon_ArrowRight:before{
    content: '';
    position: absolute;
    top:6px;
    left:-4px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right: 10px solid #222;
}
.my-Icon .my-Icon_ArrowRight:after{
    content:'';
    position: absolute;
    top:10px;
    left:16px;
    width:0;
    height: 0;
    border: 6px solid #222;
    border-left: 3px solid #222;
}

/** 左矢印 */
.my-Icon .my-Icon_ArrowLeft:before{
    content: '';
    position: absolute;
    top:6px;
    right:-4px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 10px solid #222;
}
.my-Icon .my-Icon_ArrowLeft:after{
    content:'';
    position: absolute;
    top:10px;
    right:16px;
    width:0;
    height: 0;
    border: 6px solid #222;
    border-right: 3px solid #222;
}

/** 上矢印 */
.my-Icon .my-Icon_ArrowUp:before{
    content: '';
    position: absolute;
    top:-4px;
    left:6px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #222;
}
.my-Icon .my-Icon_ArrowUp:after{
    content:'';
    position: absolute;
    top:16px;
    left:10px;
    width:0;
    height: 0;
    border: 6px solid #222;
    border-top: 3px solid #222;
}

/** 下矢印 */
.my-Icon .my-Icon_ArrowDown:before{
    content: '';
    position: absolute;
    bottom:-4px;
    left:6px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #222;
}
.my-Icon .my-Icon_ArrowDown:after{
    content:'';
    position: absolute;
    bottom:16px;
    left:10px;
    width:0;
    height: 0;
    border: 6px solid #222;
    border-bottom: 3px solid #222;
}

/** 円（塗りつぶし） */
.my-Icon .my-Icon_CircleFilled:before{
    content:'';
    position: absolute;
    top:4px;
    left:4px;
    width: 24px;
    height: 24px;
    background-color: #222;
    border-radius: 50%;
}

/** 円（塗りつぶしなし） */
.my-Icon .my-Icon_Circle:before{
    content:'';
    position: absolute;
    top:4px;
    left:4px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #222;
}
